[Unit]
Description=Nebel second steamui window on internal panel (dual-output)
After=gamescope-session-plus@steam.service
PartOf=gamescope-session-plus@steam.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/nebel/dualscreen/seatA-autostart.sh
RemainAfterExit=no

[Install]
WantedBy=gamescope-session-plus@steam.service
