[Unit]
Description=Apply Nebel state fixups
After=local-fs.target
RequiresMountsFor=/var/home/nebel
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/nebel/nebel-fixups
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
