[Unit]
Description=Periodically check that Decky Loader is still running

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=30s

[Install]
WantedBy=timers.target
